<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question and answer</title>
    <script src="static/main.js"></script>
</head>
<body>
<form action="/the-question">
    <label for="question">Give me a question</label>
    <textarea name="question" id="question" required></textarea>
    <select id="selection" name="selection">
        <option selected="selected">Yes</option>
        <option>No</option>
    </select>
    <input type="submit" onclick="function_set.save_to_storage()">
</form>
</body>
</html>